# gecos-first-login dbus service
#
# init gecos-first-login dbus service Systemd configuration file
#
# Copyright (C) 2016 Junta de Andalucia. <http://www.juntadeandalucia.es/>
#
# This software is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This software is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this package; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

[Unit]
Description=GECOS First Login Service
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/gecos-first-login-dbusservice > /tmp/gecos-first-login-dbus-service.log 2>&1

[Install]
WantedBy=multi-user.target
