Package: gecos-agent
Version: 1.0-1
Architecture: all
Maintainer: Alfonso de Cala <alfonso.cala@juntadeandalucia.es>
Installed-Size: 225
Depends: python (>= 2.6.6-3)
Conflicts: gecosws-chef-notifier-cinnamon, gecosws-chef-snitch, gecosws-firstart
Replaces: gecosws-chef-notifier-cinnamon, gecosws-chef-snitch, gecosws-firstart
Section: python
Priority: optional
Description: GECOS Agent for workstations
 This package contains boot and login scripts, daemons and systray apps
 to allow remote control and configuring from GECOS Control Center
