Source: gecosws-agent
Maintainer: Alfonso de Cala <alfonso.cala@juntadeandalucia.es>
Section: python
Priority: optional
Build-Depends: python3, debhelper, dh-python, lsb-release
Standards-Version: 3.9.5

Package: gecosws-agent
Architecture: all
Depends: python3, chef, python3-dbus, aptitude, gir1.2-webkit2-4.0, python3-gi, python3-xdg, lsb-release
Description: GECOS Agent for workstations
 This package contains boot and login scripts, daemons and systray apps
 to allow remote control and configuring from GECOS Control Center
