Source: gecos-agent
Section: utils
Priority: optional
Maintainer: Alfonso de Cala <alfonso.cala@juntadeandalucia.es>
Standards-Version: 3.8.3
Homepage: https://github.com/gecos-team/gecosws-agent
XS-Python-Version: current

Package: gecos-agent
Architecture: all
Depends: ${misc:Depends}, python, python-requests, python-xdg
Description: GECOS Agent for workstations
 Background services to monitor GECOS workstations

