[Desktop Entry]
Type=Application
Name=GECOS Notifier
Comment=GECOS snitch service + systray icon
Exec=gecos-notifier
Terminal=false
NoDisplay=true
Name[es_ES]=Lanzador para el panel GECOS
