[Desktop Entry]
Type=Application
Name=GECOS First Login
Exec=__firstlogin_prefix__/bin/python __firstlogin_prefix__/bin/gecos-first-login
OnlyShowIn=GNOME;Unity;LXDE
NoDisplay=true
StartupNotify=false
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=false
X-Ubuntu-Gettext-Domain=gecos-first-login
Name[es_ES]=gecos-first-login.desktop
